<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CSS Examples </title>
	<style type="text/css">
		/*p{
			color: red;
			font-size: 20px;
		}
		#title{
			font-size: 50px;
			font-family: Arial;
			color: blue;
		}
		.green{
			color: green;
		}
		.bold{
			font-weight: bold;
		}
		p.special{
			font-size: 20px;
			color: #CCCCFF;
			font-family: fantasy;
		}*/

	</style>
	<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
</head>
<body>
	<div>
		<!-- Inline CSS -->
		<p>Python Academy</p>
		<!-- <p style="color:red">Python Academy</p> -->
		<!-- <p style="color:red; font-size: 30px;">Python Academy</p> -->
		
	</div>
	<div class="exm" id="title">
		<!-- <h4>This is an example of External CSS</h4> -->
	</div>
	<div class="center">
		<!-- external css -->
		<!-- <p>Align of this lign has been set to center</p> -->
		<!-- <p class="brand">here external style has been applied</p> -->
	</div>
	<div>
		<!-- <h1 class="green bold">This heading has 2 classes</h1> -->
		<!-- <p class="special">Special </p> -->
	</div>
	<div>
		<!-- <ul type="square" class="main-list">
			<li>Circle</li>
			<li>Square</li>
			<li>rectangle</li>
		</ul> -->
	</div>
</body>
</html>